<ul>
  <% @flights.each do |flight| %>
    <div id="flight-<%= flight.flight_number %>">
      <li><h1>Flight Number: <%= flight.flight_number %> || Airline: <%= flight.airline.name %> </h1></li>
        <ul>
          <% flight.passengers.each do |passenger| %>
            <li><%= passenger.name %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
</ul>