<h1>Flights</h1>

<% @flights.each do |flight| %>
<section id="flight-<%= flight.id %>">
  <p>Flight Number: <%= flight.number %> Airline: <%= flight.airline.name %>
    <p>Passengers: <% flight.passengers.each do |passenger| %></p>
      <p><%= passenger.name %></p>
    <% end %>
</section>
<% end %>
