<h1>Flights Index</h1>

<ul>
  <% @flights.each do |flight| %>
    <li>
    <p>Flight Number: <%= flight.number %> Airline: <%= flight.airline.name %></p>
    <p>Passengers: 
    <ul>
      <% flight.passengers.each do |passenger| %>
      <p> <%= passenger.name %> </p>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>