<h1>Flights Index</h1>

<ul>
  <% @flights.each do |flight| %>
    <li>
      <p>Flight Number: <%= flight.number %></p>
      <p>Airline: <%= flight.airline.name %></p>
      <p>Passengers:</p>
      <ul id="passenger-list-<%= flight.id %>">
        <% flight.passengers.each do |passenger| %>
          <li><%= passenger.name %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>