<h1><%= @airline.name %> Show Page</h1>
<h3>List of all adult passengers who have flights on this airline:</h4>
<% @uniq_passengers.each do |passenger| %>
  <% if passenger.age >= 18 %>
    <%= passenger.name %>
  <% end %>
<% end %>