<h1>Airline: <%= @airline.name %></h1>
<h3>Passengers:</h3>
<ul>
  <% @airline.frequent_flyers.each do |passenger| %>
    <li><%= passenger.name %></li>
    <p>Number of flights: <%= passenger.flight_count %></p>
  <% end %>
</ul>